.wd-modules,
.wd-modules * {
  border-radius: 0%;
  border: none;
  margin: 0px;
  padding: 0px;
}

.wd-modules {
  margin: 5px;
}

.wd-modules > li {
  background-color: lightgray;
  border: 1px solid gray !important;
  border-left: none !important;
}

.wd-modules > li > div {
  padding: 6px;
  border-left: 1px solid gray !important;
}

.wd-modules > li > ul > li {
  padding: 5px;
  border-top: 1px solid gray !important;
  border-left: 2px solid green;
}

.wd-modules > li {
  margin-bottom: 20px;
}
.gray-button {
  background-color: #e6e6e6;
  border-width: thin;
  border-color: #b5b3b3;
  color: black;
}

.green-button {
  background-color: green!important;
  border-width: thin;
  border-color: #b5b3b3!important;
  color: white!important;
}

.red-button {
  background-color: red;
  border-width: thin;
  border-color: #b5b3b3;
  color: white;
}
.section-menu-text {
  font-size: x-small;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #b5b3b3;
  padding-bottom: 10px;
}