.kanbas-ellipsis {
    color: white;
    font-size: 24px;
}

.kanbas-card-container {
    max-width: 100%;
}

.kanbas-card {
    width: 260px;
    margin: 20px;
    text-decoration: none;
    color: black;
}
